nav {
  display: flex;
  list-style: none;
}

nav li {
  padding: 0 12px;
  border-right: 2px solid black;
}

nav li:last-child {
  border-right: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0;
}
